{#
/**
 * @file
 * Default theme implementation to present Related Program Connector data.
 *
 * This template is used when viewing Related Program Connector pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_related_program()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('related_program') }}>
  {% if content %}
    <p>This <strong>Related Program Connector</strong> provides smart links to program information.</p>
    {{- content -}}
  {% endif %}
</div>
